html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: aqua;
    border-style: none;
    margin: 0px;
}

.header {
    background-color:none;
    position: fixed;
    top: 2%;
    left: 15%;
    font-size: 36px;
}

p{
    font-size: 20px;
}

.center {
    background-color: white;
    position: fixed;
    top: 30%;
    left: 25%;
    height: 40%;
    width: 50%;
    border-style: none;
    border-radius: 25px;
    padding: 20px; 
}
