#grapharea {
    float: left;
}

td {
    padding: 4px;
    border: 1px solid #c0c0c0;
}

.sidebar {
    padding: 5px 3px 0 0;
    margin-left: -5px;
}

.s, body, #graph {
    background: rgba(167, 252, 240, 0.13);
}

li {
    list-style: circle;
    margin-left: 18px;
    padding-top: 8px;
}

.centered {
    margin: auto;
}

.header {
    text-align: center;
}

p {
    margin-bottom: 14px;
}

#history{
    display: none;
    width: 300px;
    height: 150px;
    position: absolute;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    bottom: -10px;
    left: -5px;
    background: rgba(228, 247, 244, 0.93);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
}