#grapharea {
    float: left;
}

td {
    padding: 4px;
    border: 1px solid #c0c0c0;
}

.sidebar {
    padding: 5px 3px 0 0;
    margin-left: -5px;
}

.s, body, #graph, html {
    background: #F8FFFF;
}

li {
    list-style: circle;
    margin-left: 18px;
    padding-top: 8px;
}

.centered {
    margin: auto;
}

.header {
    text-align: center;
}

p {
    margin-bottom: 14px;
}

#history{
    display: none;
    width: 300px;
    height: 18px;
    position: fixed;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    bottom: -10px; /*-10px for display*/
    left: -5px;
    background: rgba(238, 252, 252, 0.93);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}